<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="example-container">
  <mat-sidenav style="width: 280px; padding-left: 20px" opened mode="side">
    <h1>Select Cities</h1>
    <h4>City A</h4>
    <mat-form-field>
      <mat-label>Favorite city</mat-label>
      <mat-select [(value)]="cityA" (selectionChange)="onSelectChange($event)">
        <mat-option *ngFor="let cities of citiesA" [value]="cities.value">
          {{ cities.display }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h4>City B</h4>
    <mat-form-field>
      <mat-label>Favorite city</mat-label>
      <mat-select [(value)]="cityB" (selectionChange)="onSelectChange($event)">
        <mat-option *ngFor="let cities of citiesB" [value]="cities.value">
          {{ cities.display }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-sidenav>
  <div style="text-align:center">
    <h1>Choose your {{ title }}!</h1>
    <p style="text-align: left; padding: 20px">{{ cityA }}</p>
  </div>
  <h2>Transporations</h2>
  <div *ngIf="destination">
    <div class="transportation" *ngIf="destination.car">
      <mat-icon>directions_car</mat-icon>
      <p>Car</p>
      <span> 
        Time: {{ calculateTime(destination.car.speed) + " Hours" }} - {{ "$" + calculatePrice(destination.car.price) + ".00 USD Total Price"  }} 
      </span>
    </div>
    <div class="transportation" *ngIf="destination.bus">
      <mat-icon>directions_bus</mat-icon>
      <p>Bus</p>
      <span> 
        Time: {{ calculateTime(destination.bus.speed) + " Hours" }} - {{ "$" + calculatePrice(destination.bus.price) + ".00 USD Total Price"  }} 
      </span>
    </div>
    <div class="transportation" *ngIf="destination.train">
      <mat-icon>directions_transit</mat-icon>
      <p>Train</p>
      <span>
        Time: {{ calculateTime(destination.train.speed) + " Hours" }} - {{ "$" + calculatePrice(destination.train.price) + ".00 USD Total Price"  }}
      </span>
    </div>
    <div class="transportation" *ngIf="destination.airplane">
        <mat-icon>airplanemode_active</mat-icon>
        <p>Airplane</p>
        <span>
          Time: {{ calculateTime(destination.airplane.speed) + " Hours" }} - {{ "$" + calculatePrice(destination.airplane.price) + ".00 USD Total Price"  }}
        </span>
      </div>
  </div>

  <div *ngIf="!destination">
    <h2>Pick a destination!</h2>
  </div>
</mat-sidenav-container>
