.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.transportation > p {
  font-size: 50px;
  display: inline;
}

.transportation > span {
  font-size: 50px;
  display: inline;
}

.transportation > mat-icon {
  font-size: 100px;
  display: inline;
}
