<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="example-container">
  <mat-sidenav style="width: 200px" opened mode="side">
    <h1>Select Cities</h1>
    <h4>City A</h4>
    <mat-form-field>
      <mat-label>Favorite city</mat-label>
      <mat-select [(value)]="cityA" (selectionChange)="onSelectChange($event)">
        <mat-option *ngFor="let cities of citiesA" [value]="cities.value">
          {{ cities.display }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h4>City B</h4>
    <mat-form-field>
      <mat-label>Favorite city</mat-label>
      <mat-select [(value)]="cityB" (selectionChange)="onSelectChange($event)">
        <mat-option *ngFor="let cities of citiesB" [value]="cities.value">
          {{ cities.display }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-sidenav>
  <div style="text-align:center">
    <h1>Welcome to {{ title }}!</h1>
    <img
      width="250"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
  </div>
  <h2>Transporations</h2>
  <div *ngIf="destination">
    <div class="transportation" *ngIf="destination.car">
      <mat-icon>directions_car</mat-icon>
      <p>{{ destination.car.price | currency }}</p>
      <span> Time: {{ calculateTime(destination.car.speed) }} - UNITS?? </span>
    </div>
    <div class="transportation" *ngIf="destination.airplane">
      <mat-icon>airplanemode_active</mat-icon>
      <p>{{ destination.airplane.price | currency }}</p>
      <span>
        Time: {{ calculateTime(destination.airplane.speed) }} - UNITS??
      </span>
    </div>
    <div class="transportation" *ngIf="destination.bus">
      <mat-icon>directions_bus</mat-icon>
      <p>{{ destination.bus.price | currency }}</p>
      <span> Time: {{ calculateTime(destination.bus.speed) }} - UNITS?? </span>
    </div>
    <div class="transportation" *ngIf="destination.train">
      <mat-icon>directions_transit</mat-icon>
      <p>{{ destination.train.price | currency }}</p>
      <span>
        Time: {{ calculateTime(destination.train.speed) }} - UNITS??
      </span>
    </div>
  </div>

  <div *ngIf="!destination">
    <h2>Pick a destination!</h2>
  </div>
</mat-sidenav-container>
